.menu
{
    width: 250px;
    background-color: #666666;
    border-radius: 5px;
    position: absolute;
}
.menu__lista
{
    list-style: none;
    padding: 0;
}
.menu__item
{
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    color: #ffffff;
    border-bottom: 1px solid #999999;
}
.menu__item span
{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.menu__item:hover
{
    background-color: #444444;
}